<ol reversed class="postlist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %} h-entry">
    <a href="{{ post.url | url }}" class="postlist-link u-url p-name">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <div class="meta">
      <time class="postlist-date dt-published" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="post-tag p-category">{{ tag }}</a>
      {% endfor %}
    </div>
    <div class="content e-content">{{ post.templateContent | safe }}</div>
  </li>
{% endfor %}
</ol>