---
layout: layouts/base.njk
templateClass: tmpl-post h-entry
---
<h1 class="p-name">{{ title }}</h1>
<div class="meta">
  <time datetime="{{ page.date | htmlDateString }}" class="dt-published">{{ page.date | readableDate }}</time>
  {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <a href="{{ tagUrl | url }}" class="post-tag p-category">{{ tag }}</a>
  {%- endfor %}
</div>

<div class="content e-content">{{ content | safe }}</div>

{%- set nextPost = collections.posts | getNextCollectionItem(page) %}
{%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}
<hr>
<ul>
  {%- if nextPost %}<li>Next: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- if previousPost %}<li>Previous: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif %}
